<html>
  <head>
    <title>OCR</title>
  </head>
  <style>
    .custom-font {
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: red;  /* Màu chữ đen */
    }
</style>
  <body>
 
    <form action="/predict" enctype="multipart/form-data" method="POST">
      <input name="file" type="file" />
      <input type="submit" />
    </form>
 
    <h1>Rendered Image</h1>
    <img src="data:image/jpeg;base64,{{ img }}" width="300" height="300"/>
    <h1>Predict Image</h1>
    <img src="data:image/jpeg;base64,{{ results_img }}" width="600" height="300"/>
    <h1>Predict result:  <span class="custom-font">{{ Res }}</h1> 
  </body>
</html>